<div class="dashboard">
    <!-- <div class="card" *ngFor="let item of items"> -->
    <div class="card">
        <mat-card>
            <!-- <img mat-card-image [src]="item.image" alt="Card image"> -->
            <img mat-card-image src="../../assets/57090024.JPG" alt="Card image">
            <mat-card-content>
                <!-- <h2>{{ item.title }}</h2> -->
                <h2>hello</h2>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="card">
        <mat-card>
            <!-- <img mat-card-image [src]="item.image" alt="Card image"> -->
            <img mat-card-image src="../../assets/57090024.JPG" alt="Card image">
            <mat-card-content>
                <!-- <h2>{{ item.title }}</h2> -->
                <h2>hello</h2>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="card">
        <mat-card>
            <!-- <img mat-card-image [src]="item.image" alt="Card image"> -->
            <img mat-card-image src="../../assets/57090024.JPG" alt="Card image">
            <mat-card-content>
                <!-- <h2>{{ item.title }}</h2> -->
                <h2>hello</h2>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="card">
        <mat-card>
            <!-- <img mat-card-image [src]="item.image" alt="Card image"> -->
            <img mat-card-image src="../../assets/57090024.JPG" alt="Card image">
            <mat-card-content>
                <!-- <h2>{{ item.title }}</h2> -->
                <h2>hello</h2>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="card">
        <mat-card>
            <!-- <img mat-card-image [src]="item.image" alt="Card image"> -->
            <img mat-card-image src="../../assets/57090024.JPG" alt="Card image">
            <mat-card-content>
                <!-- <h2>{{ item.title }}</h2> -->
                <h2>hello</h2>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="card">
        <mat-card>
            <!-- <img mat-card-image [src]="item.image" alt="Card image"> -->
            <img mat-card-image src="../../assets/57090024.JPG" alt="Card image">
            <mat-card-content>
                <!-- <h2>{{ item.title }}</h2> -->
                <h2>hello</h2>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="card">
        <mat-card>
            <!-- <img mat-card-image [src]="item.image" alt="Card image"> -->
            <img mat-card-image src="../../assets/57090024.JPG" alt="Card image">
            <mat-card-content>
                <!-- <h2>{{ item.title }}</h2> -->
                <h2>hello</h2>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="card">
        <mat-card>
            <!-- <img mat-card-image [src]="item.image" alt="Card image"> -->
            <img mat-card-image src="../../assets/57090024.JPG" alt="Card image">
            <mat-card-content>
                <!-- <h2>{{ item.title }}</h2> -->
                <h2>hello</h2>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="card">
        <mat-card>
            <!-- <img mat-card-image [src]="item.image" alt="Card image"> -->
            <img mat-card-image src="../../assets/57090024.JPG" alt="Card image">
            <mat-card-content>
                <!-- <h2>{{ item.title }}</h2> -->
                <h2>hello</h2>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="card">
        <mat-card>
            <!-- <img mat-card-image [src]="item.image" alt="Card image"> -->
            <img mat-card-image src="../../assets/57090024.JPG" alt="Card image">
            <mat-card-content>
                <!-- <h2>{{ item.title }}</h2> -->
                <h2>hello</h2>
            </mat-card-content>
        </mat-card>
    </div>
</div>









<!-- <div class="dashboard-background card-div-container">
    <div class="info-card">
        <img src="../../assets/57090024.JPG" alt="Info Card Image">
        <h2 class="info-title">Info Card Title</h2>
    </div>
    <div class="info-card">
        <img src="../../assets/57090024.JPG" alt="Info Card Image">
        <h2 class="info-title">Info Card Title</h2>
    </div>
    <div class="info-card">
        <img src="../../assets/57090024.JPG" alt="Info Card Image">
        <h2 class="info-title">Info Card Title</h2>
    </div>
    <div class="info-card">
        <img src="../../assets/57090024.JPG" alt="Info Card Image">
        <h2 class="info-title">Info Card Title</h2>
    </div>
    <div class="info-card">
        <img src="../../assets/57090024.JPG" alt="Info Card Image">
        <h2 class="info-title">Info Card Title</h2>
    </div>
    <div class="info-card">
        <img src="../../assets/57090024.JPG" alt="Info Card Image">
        <h2 class="info-title">Info Card Title</h2>
    </div>
    <div class="info-card">
        <img src="../../assets/57090024.JPG" alt="Info Card Image">
        <h2 class="info-title">Info Card Title</h2>
    </div>
    <div class="info-card">
        <img src="../../assets/57090024.JPG" alt="Info Card Image">
        <h2 class="info-title">Info Card Title</h2>
    </div>
    <div class="info-card">
        <img src="../../assets/57090024.JPG" alt="Info Card Image">
        <h2 class="info-title">Info Card Title</h2>
    </div>
</div> -->