<div class="dashboard-background card-div-container">
    <div class="info-card">
        <img src="../../assets/57090024.JPG" alt="Info Card Image">
        <h2 class="info-title">Info Card Title</h2>
    </div>
    <div class="info-card">
        <img src="../../assets/57090024.JPG" alt="Info Card Image">
        <h2 class="info-title">Info Card Title</h2>
    </div>
    <div class="info-card">
        <img src="../../assets/57090024.JPG" alt="Info Card Image">
        <h2 class="info-title">Info Card Title</h2>
    </div>
    <div class="info-card">
        <img src="../../assets/57090024.JPG" alt="Info Card Image">
        <h2 class="info-title">Info Card Title</h2>
    </div>
    <div class="info-card">
        <img src="../../assets/57090024.JPG" alt="Info Card Image">
        <h2 class="info-title">Info Card Title</h2>
    </div>
    <div class="info-card">
        <img src="../../assets/57090024.JPG" alt="Info Card Image">
        <h2 class="info-title">Info Card Title</h2>
    </div>
    <div class="info-card">
        <img src="../../assets/57090024.JPG" alt="Info Card Image">
        <h2 class="info-title">Info Card Title</h2>
    </div>
    <div class="info-card">
        <img src="../../assets/57090024.JPG" alt="Info Card Image">
        <h2 class="info-title">Info Card Title</h2>
    </div>
    <div class="info-card">
        <img src="../../assets/57090024.JPG" alt="Info Card Image">
        <h2 class="info-title">Info Card Title</h2>
    </div>
</div>