<nav id="sidebar">
    <div class="d-flex flex-column align-items-center p-4">
        <!-- User Profile Section -->
        <div class="mb-4">
            <img src="../../../assets/57090024.JPG" alt="User Profile" class="profile-picture">
            <h4 class="mt-2">Blake Gifford</h4>
        </div>

        <!-- Navigation Menu -->
        <ul class="nav flex-column">
            <li class="nav-item" (click)="getTopTracks()">
                <a class="nav-link active" href="#">
                    <i class="fa fa-home"></i>
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-search"></i>
                    Search
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-music"></i>
                    Your Library
                </a>
            </li>
            <li class="nav-item" (click)="login()">
                <a class="nav-link" href="#">
                    <i class="fa fa-sign-in"></i>
                    Login
                </a>
            </li>
            <!-- Add more menu items as needed -->
        </ul>
    </div>
</nav>