<header
    class="d-flex flex-row align-items-center justify-content-between p-3 px-4 mb-3 bg-white border-bottom fixed-top shadow-sm">
    <!-- <img src="/assets/images/logo.png" alt="logo" style="max-height: 70px;"> -->
    <h3>VenueVoice</h3>
    <div class="d-flex align-items-center">
        <nav class="my-2 fs-5">
            <!-- <a class="p-2 text-dark text-decoration-none" href="#">Home</a>
            <a class="p-2 text-dark text-decoration-none" href="#">Find Artist</a> -->
        </nav>
        <a href="" class="btn btn-outline-secondary me-2">Login</a>
        <a href="" class="btn btn-outline-secondary me-3">Sign up</a>
    </div>
</header>